"$schema" = 'https://starship.rs/config-schema.json'

format = '''$directory$git_branch$git_status$direnv$golang$nodejs$python$rust$java$terraform$docker_context$cmd_duration
$character'''

add_newline = true

[character]
success_symbol = '[\$](#D8DEE9)'
error_symbol = '[\$](#BF616A)'
vimcmd_symbol = '[:](#D8DEE9)'
vimcmd_visual_symbol = '[%](#D8DEE9)'
vimcmd_replace_symbol = '[+](#D8DEE9)'
vimcmd_replace_one_symbol = '[+](#D8DEE9)'

[directory]
truncation_length = 0
truncate_to_repo = false
truncation_symbol = '.../'
style = '#EBCB8B'



[cmd_duration]
format = '\[[took $duration]($style)\]'
style = '#EBCB8B'

[direnv]
format = '\[[$rc_path]($style)\]'
style = '#D08770'

[docker_context]
symbol = ""
format = '\[[$symbol $context]($style)\]'
style = '#88C0D0'

[git_branch]
symbol = ""
format = '\[[$symbol $branch]($style)'
style = '#81A1C1'

[git_status]
format = '[$all_status$ahead_behind]($style)\]'
style = '#BF616A'

[golang]
symbol = ""
format = '\[[$symbol ($version)]($style)\]'
style = '#88C0D0'

[java]
symbol = ""
format = '\[[$symbol ($version)]($style)\]'
style = '#BF616A'

[nodejs]
symbol = ""
format = '\[[$symbol ($version)]($style)\]'
style = '#EBCB8B'

[python]
symbol = ""
format = '\[[$symbol ${pyenv_prefix}($version)(\($virtualenv\))]($style)\]'
style = '#A3BE8C'

[rust]
symbol = ""
format = '\[[$symbol ($version)]($style)\]'
style = '#D08770'

[terraform]
symbol = ""
format = '\[[$symbol $workspace]($style)\]'
style = '#B48EAD'